<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">

        <title>Home</title>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                background: #eee;
            }
            span {
                font-size: 15px;
            }
           
            .box {
                padding: 60px 0;
            }

            .box-part {
                background: #FFF;
                border-radius: 0;
                padding: 60px 10px;
                margin: 30px 0;
            }
            .text {
                margin: 20px 0;
            }

            .fa {
                color: #4183D7;
            }
        </style>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             
            <a class="navbar-brand" href="home_nurse">MHRSAM</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        
                            <span class="sr-only">(current)</span>
                    </li>
                    
                </ul>
                <nav class="navbar navbar-dark bg-dark justify-content-end">
                        <form class="form-inline">
                            <a class="nav-link " href="account_update_nurse">
                                <button class="btn btn-secondary" type="button">Account</button>
                            </a>
    
                            <a class="nav-link " href="sign_out">
                                <button class="btn btn-secondary" type="button">Sign Out</button>
                            </a>
    
                        </form>
                    </nav>
            </div>
        </nav>
        <a
            class="weatherwidget-io"
            href="https://forecast7.com/en/41d0128d98/istanbul/?unit=us"
            data-label_1="ISTANBUL"
            data-label_2="WEATHER"
            data-theme="weather_one">ISTANBUL WEATHER</a>
        <script>
            !function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                    fjs
                        .parentNode
                        .insertBefore(js, fjs);
                }
            }(document, 'script', 'weatherwidget-io-js');
        </script>


        <div class="box" style="margin-top:10%;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <a href="op_view_nurse" class="text-dark">
                                    <h4>Surgeries</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <a href="new_test" class="text-dark">
                                    <h4>Tests</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer
            id="sticky-footer"
            class="py-4 bg-dark text-white-50"
            style="margin-top:10%;">
            <div class="container text-center">
                <small>Copyright &copy; itu1939</small>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>